Walsh.Shared/Web References/WalshSoap/WalshSoap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://walshco.elixhosting.com/SVC/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://walshco.elixhosting.com/SVC/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://walshco.elixhosting.com/SVC/">
      <s:element name="CreateDir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parent_id" type="s:unsignedInt" />
            <s:element minOccurs="0" maxOccurs="1" name="user_token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateDirResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserPermissions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="object_id" type="s:unsignedInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserPermissionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserPermissionsResult" type="tns:Permissions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Permissions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccessorName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CanReadFile" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanWriteFile" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanViewInfo" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanComment" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanReadHistorical" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanManageHistorical" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanRename" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanDelete" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanCopy" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanChangePermissions" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanChangeOwner" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetrieveFileData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="object_id" type="s:unsignedInt" />
            <s:element minOccurs="1" maxOccurs="1" name="includeBinaryData" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="includeTempUrl" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveFileDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveFileDataResult" type="tns:FileData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FileData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="parentId" type="s:unsignedInt" />
          <s:element minOccurs="0" maxOccurs="1" name="objectName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="data" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="objectType" type="s:unsignedInt" />
          <s:element minOccurs="1" maxOccurs="1" name="revisionDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="tempURL" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindObjectID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="object_name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parent_id" type="s:unsignedInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindObjectIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindObjectIDResult" type="s:unsignedInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parent_id" type="s:unsignedInt" />
            <s:element minOccurs="0" maxOccurs="1" name="user_token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateFileResult" type="tns:CreateFileData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CreateFileData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="file_name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="object_type" type="s:unsignedInt" />
          <s:element minOccurs="1" maxOccurs="1" name="object_id" type="s:unsignedInt" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSubitems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parent_id" type="s:unsignedInt" />
            <s:element minOccurs="0" maxOccurs="1" name="user_token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubitemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubitemsResult" type="tns:ArrayOfObjectTreeData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfObjectTreeData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ObjectTreeData" nillable="true" type="tns:ObjectTreeData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ObjectTreeData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="object_id" type="s:unsignedInt" />
          <s:element minOccurs="1" maxOccurs="1" name="parent_object_id" type="s:unsignedInt" />
          <s:element minOccurs="1" maxOccurs="1" name="object_type" type="s:unsignedInt" />
          <s:element minOccurs="0" maxOccurs="1" name="object_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="object_description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="object_server" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="object_bucket" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="object_key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="object_size" type="s:unsignedInt" />
          <s:element minOccurs="1" maxOccurs="1" name="revision_date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="child_count" type="s:unsignedInt" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTemplates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTemplatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTemplatesResult" type="tns:ArrayOfObjectTreeData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="object_id" type="s:unsignedInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemResult" type="tns:ObjectTreeData" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateDirSoapIn">
    <wsdl:part name="parameters" element="tns:CreateDir" />
  </wsdl:message>
  <wsdl:message name="CreateDirSoapOut">
    <wsdl:part name="parameters" element="tns:CreateDirResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserPermissionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserPermissions" />
  </wsdl:message>
  <wsdl:message name="GetUserPermissionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveFileDataSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveFileData" />
  </wsdl:message>
  <wsdl:message name="RetrieveFileDataSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveFileDataResponse" />
  </wsdl:message>
  <wsdl:message name="FindObjectIDSoapIn">
    <wsdl:part name="parameters" element="tns:FindObjectID" />
  </wsdl:message>
  <wsdl:message name="FindObjectIDSoapOut">
    <wsdl:part name="parameters" element="tns:FindObjectIDResponse" />
  </wsdl:message>
  <wsdl:message name="CreateFileSoapIn">
    <wsdl:part name="parameters" element="tns:CreateFile" />
  </wsdl:message>
  <wsdl:message name="CreateFileSoapOut">
    <wsdl:part name="parameters" element="tns:CreateFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubitemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubitems" />
  </wsdl:message>
  <wsdl:message name="GetSubitemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubitemsResponse" />
  </wsdl:message>
  <wsdl:message name="GetTemplatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetTemplates" />
  </wsdl:message>
  <wsdl:message name="GetTemplatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemSoapIn">
    <wsdl:part name="parameters" element="tns:GetItem" />
  </wsdl:message>
  <wsdl:message name="GetItemSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemResponse" />
  </wsdl:message>
  <wsdl:portType name="WalshSoapSoap">
    <wsdl:operation name="CreateDir">
      <wsdl:input message="tns:CreateDirSoapIn" />
      <wsdl:output message="tns:CreateDirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserPermissions">
      <wsdl:input message="tns:GetUserPermissionsSoapIn" />
      <wsdl:output message="tns:GetUserPermissionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveFileData">
      <wsdl:input message="tns:RetrieveFileDataSoapIn" />
      <wsdl:output message="tns:RetrieveFileDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindObjectID">
      <wsdl:input message="tns:FindObjectIDSoapIn" />
      <wsdl:output message="tns:FindObjectIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateFile">
      <wsdl:input message="tns:CreateFileSoapIn" />
      <wsdl:output message="tns:CreateFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubitems">
      <wsdl:input message="tns:GetSubitemsSoapIn" />
      <wsdl:output message="tns:GetSubitemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplates">
      <wsdl:input message="tns:GetTemplatesSoapIn" />
      <wsdl:output message="tns:GetTemplatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <wsdl:input message="tns:GetItemSoapIn" />
      <wsdl:output message="tns:GetItemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WalshSoapSoap" type="tns:WalshSoapSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDir">
      <soap:operation soapAction="http://walshco.elixhosting.com/SVC/CreateDir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPermissions">
      <soap:operation soapAction="http://walshco.elixhosting.com/SVC/GetUserPermissions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFileData">
      <soap:operation soapAction="http://walshco.elixhosting.com/SVC/RetrieveFileData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindObjectID">
      <soap:operation soapAction="http://walshco.elixhosting.com/SVC/FindObjectID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFile">
      <soap:operation soapAction="http://walshco.elixhosting.com/SVC/CreateFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubitems">
      <soap:operation soapAction="http://walshco.elixhosting.com/SVC/GetSubitems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplates">
      <soap:operation soapAction="http://walshco.elixhosting.com/SVC/GetTemplates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <soap:operation soapAction="http://walshco.elixhosting.com/SVC/GetItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WalshSoapSoap12" type="tns:WalshSoapSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDir">
      <soap12:operation soapAction="http://walshco.elixhosting.com/SVC/CreateDir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPermissions">
      <soap12:operation soapAction="http://walshco.elixhosting.com/SVC/GetUserPermissions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFileData">
      <soap12:operation soapAction="http://walshco.elixhosting.com/SVC/RetrieveFileData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindObjectID">
      <soap12:operation soapAction="http://walshco.elixhosting.com/SVC/FindObjectID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFile">
      <soap12:operation soapAction="http://walshco.elixhosting.com/SVC/CreateFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubitems">
      <soap12:operation soapAction="http://walshco.elixhosting.com/SVC/GetSubitems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplates">
      <soap12:operation soapAction="http://walshco.elixhosting.com/SVC/GetTemplates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <soap12:operation soapAction="http://walshco.elixhosting.com/SVC/GetItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WalshSoap">
    <wsdl:port name="WalshSoapSoap" binding="tns:WalshSoapSoap">
      <soap:address location="http://localhost:9750/SVC/WalshSoap.asmx" />
    </wsdl:port>
    <wsdl:port name="WalshSoapSoap12" binding="tns:WalshSoapSoap12">
      <soap12:address location="http://localhost:9750/SVC/WalshSoap.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>